@charset "ISO-8859-1";
Body {  
  font-family: sans-serif; 
  
  background-color:cyan; 
   

}  

h1{
	color:red;
  }

input[type=submit]{   
	  justify-content: center;
       background-color:pink;   
        width: 50%;  
        color: white;   
        padding: 15px;   
        margin: 15px 0px;   
        border: 1.5px solid black;   
         
         }  
          
 form {   
        border: 2px solid black;
 		width: 50%;
 		margin: 0 auto;
    }   
 input[type=text], input[type=password] {  
 	justify-content: center;  
        width: 70%;   
        margin: 15px 0px;
        padding: 12px 20px;   
        box-sizing: border-box;   
        border: 2px solid red;   

    }  
 
   
        
     
 .container {   
  		  
  justify-content: center;
        padding: 15px;   
        background-color: #FFF8DC;  
    }   